### March Madness 2018 Prediction
### Created by Sangho Eum, Soobum Jun, Seonghwa Choi

In [75]:
import pandas as pd
import numpy as np
import math
import csv

In [76]:
reg_season_compact_pd = pd.read_csv('data/RegularSeasonCompactResults.csv')
reg_season_compact_pd.head()
# From 1985 To 2017

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [77]:
reg_season_detailed_pd = pd.read_csv('data/RegularSeasonDetailedResults.csv')
reg_season_detailed_pd.head()
# From 2003 To 2017

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [78]:
season_pd = pd.read_csv('data/Seasons.csv')
season_pd.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [79]:
cities_pd = pd.read_csv('data/Cities.csv')
cities_pd.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [80]:
conference_pd = pd.read_csv('data/Conferences.csv')
conference_pd.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

In [81]:
tor_compact_pd = pd.read_csv('data/NCAATourneyCompactResults.csv')
tor_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [82]:
tor_detailed_pd = pd.read_csv('data/NCAATourneyDetailedResults.csv')
tor_detailed_pd.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [83]:
tor_seeds_pd =pd.read_csv('data/NCAATourneySeeds.csv')
tor_seeds_pd.head()

   Season Seed  TeamID  rank
0    1985  W01    1207     1
1    1985  W02    1210     2
2    1985  W03    1228     3
3    1985  W04    1260     4
4    1985  W05    1374     5

In [84]:
teams_pd =pd.read_csv('data/Teams.csv')
teams_pd.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [85]:
seed_pd = pd.read_csv('data/NCAATourneySeeds.csv')
seed_pd.head()

seed_pd[seed_pd[TeamID == 1207 ]]

NameError: name 'TeamID' is not defined

In [86]:
listACCteams = ['North Carolina','Virginia','Florida St','Louisville','Notre Dame','Syracuse','Duke','Virginia Tech','Georgia Tech','Miami','Wake Forest','Clemson','NC State','Boston College','Pittsburgh']
listPac12teams = ['Arizona','Oregon','UCLA','California','USC','Utah','Washington St','Stanford','Arizona St','Colorado','Washington','Oregon St']
listSECteams = ['Kentucky','South Carolina','Florida','Arkansas','Alabama','Tennessee','Mississippi St','Georgia','Ole Miss','Vanderbilt','Auburn','Texas A&M','LSU','Missouri']
listBig10teams = ['Maryland','Wisconsin','Purdue','Northwestern','Michigan St','Indiana','Iowa','Michigan','Penn St','Nebraska','Minnesota','Illinois','Ohio St','Rutgers']
listBig12teams = ['Kansas','Baylor','West Virginia','Iowa St','TCU','Kansas St','Texas Tech','Oklahoma St','Texas','Oklahoma']
listBigEastteams = ['Butler','Creighton','DePaul','Georgetown','Marquette','Providence','Seton Hall','St John\'s','Villanova','Xavier']

In [87]:
def reg_season_data(team_id, year):
    
#bring year data
    year_data_compact_pd = reg_season_compact_pd[reg_season_compact_pd['Season'] == year]
    year_data_detailed_pd = reg_season_detailed_pd[reg_season_detailed_pd['Season'] == year]
    # detailed num game, compact num game 같은것 확인함
    ##numgames = len(year_data_compact_pd)
    #by number of won/lose
    gamesWon_compact = year_data_compact_pd[year_data_compact_pd.WTeamID == team_id] 
    gamesLose_compact = year_data_compact_pd[year_data_compact_pd.LTeamID == team_id]
    gamesWon = year_data_detailed_pd[year_data_detailed_pd.WTeamID == team_id] 
    gamesLose = year_data_detailed_pd[year_data_detailed_pd.LTeamID == team_id]
    #print(gamesWon)
    len_gamesWon_compact = len(gamesWon_compact)
    len_gamesLose_compact = len(gamesLose_compact)
    totalgame_compact = len_gamesWon_compact + len_gamesLose_compact
#     print(totalgame_compact)

    len_gamesWon = len(gamesWon)
    len_gamesLose = len(gamesLose)
    totalgame = len_gamesWon + len_gamesLose
    
#     print(reg_totalgame)
    #winning ratio
    winning_ratio = len_gamesWon/totalgame
    numgames = totalgame
#     print(winning_ratio)
    


    #by point(avg score per game/ total score/ total score won / total score lose)
    won_score_total = gamesWon_compact['WScore'].sum()
    lose_score_total = gamesLose_compact['LScore'].sum()
    
    opnt_won_score_total = gamesWon_compact['LScore'].sum()
    opnt_lose_score_total = gamesLose_compact['WScore'].sum()
    total_score = won_score_total + lose_score_total
    avg_score_per_game = total_score/numgames
    total_score_allowed = opnt_won_score_total+ opnt_lose_score_total
    avg_score_allowed_to_opont = total_score_allowed /numgames 
#     print(avg_score_allowed_to_opont)

        #3point made
            
    num_of_won_3point_made = gamesWon['WFGM3'].sum()
    num_of_won_3point_attempt = gamesWon['WFGA3'].sum()
    num_of_lose_3point_made = gamesLose['LFGM3'].sum()
    num_of_lose_3point_attempt = gamesLose['LFGA3'].sum()
#     print(num_of_won_3point_made)
    num_of_3point_made_total = num_of_won_3point_made + num_of_lose_3point_made
    num_of_3point_attempt_total = num_of_won_3point_attempt + num_of_lose_3point_attempt
#     print(num_of_3point_made_total)
    # num of 3 per game 
    num_of_3point_made_per_game = num_of_3point_made_total/numgames
    num_of_3point_attempt_per_game = num_of_3point_attempt_total/numgames 
#     print(num_of_3point_made_per_game)
    # % of 3 made per game
    pct_of_3_point_made = num_of_3point_made_per_game/num_of_3point_attempt_per_game
#     print(prcnt_of_3_point_made)      
    
    num_opnt_3point_attempt_total = gamesLose['WFGA3'].sum()+gamesWon['LFGA3'].sum()
    num_opnt_3point_made_total = gamesLose['WFGM3'].sum()+gamesWon['LFGM3'].sum()
    
    
    #field goal made
    num_of_won_FG_made = gamesWon['WFGM'].sum()
    num_of_won_FG_attempt = gamesWon['WFGA'].sum()
    num_of_lose_FG_made = gamesLose['LFGM'].sum()
    num_of_lose_FG_attempt = gamesLose['LFGA'].sum()
    
    num_of_FG_made_total = num_of_won_FG_made + num_of_lose_FG_made
    num_of_FG_attempt_total = num_of_won_FG_attempt + num_of_lose_FG_attempt
        #opponent
    num_opnt_FG_attempt_total = gamesLose['WFGA'].sum()+gamesWon['LFGA'].sum()
    num_opnt_FG_made_total = gamesLose['WFGM'].sum()+gamesWon['LFGM'].sum()
    
    #num of FG per game 
    num_of_FG_made_per_game = num_of_FG_made_total/numgames
    num_of_FG_attempt_per_game = num_of_FG_attempt_total/numgames 
    

    #% of FG made 
    pct_of_FG_point_made = num_of_FG_made_per_game/num_of_FG_attempt_per_game
    
    #by turnover(turnover per game)
    
        #id team 
    won_turnover= gamesWon['WTO'].sum()
    lose_turnover = gamesLose['LTO'].sum()
    turnover_total = won_turnover + lose_turnover

    avg_turnover = turnover_total/numgames
#     print(avg_turnover)
        #opponent team  ####체크
    opnt_lose_turnover = gamesLose['WTO'].sum()
    opnt_won_turnover = gamesWon['LTO'].sum()

    opnt_turnover_total = opnt_lose_turnover + opnt_won_turnover
    opnt_turnover_avg = opnt_turnover_total/numgames
#     print(opnt_turnover_avg)

    
    #assist per game 
    assist_won = gamesWon['WAst'].sum()
    assist_lose = gamesLose['LAst'].sum()
    
    assist_total = assist_won + assist_lose
    assist_avg = assist_total/numgames
#     print(assist_avg)

#rebound per game
    
        #offensive
    ofns_rebound_won =gamesWon['WOR'].sum()
    ofns_rebound_lose = gamesLose['LOR'].sum()
    
    ofns_rebound_total = ofns_rebound_won+ ofns_rebound_lose
    ofns_rebound_avg = ofns_rebound_total/numgames
            #opponemt
    opnt_ofns_rebound_lose = gamesLose['WOR'].sum()
    opnt_ofns_rebound_won = gamesWon['LOR'].sum()
    opnt_ofns_rebound_total= opnt_ofns_rebound_won + opnt_ofns_rebound_lose
    opnt_ofns_rebound_avg = opnt_ofns_rebound_total/numgames
    
    
        #defensive
    defn_rebound_won = gamesWon['WDR'].sum()
    defn_rebound_lose = gamesLose['LDR'].sum()
    defn_rebound_total= defn_rebound_won + defn_rebound_lose
    defn_rebound_avg = defn_rebound_total/numgames
    
            #opponent
    opnt_defn_rebound_lose = gamesLose['WDR'].sum()
    opnt_defn_rebound_won = gamesWon['LDR'].sum()
    opnt_defn_rebound_total=opnt_defn_rebound_lose + opnt_defn_rebound_won
    opnt_defn_rebound_avg = opnt_defn_rebound_total/numgames
#     print(opnt_defn_rebound_avg)
    
    # foul
    won_foul = gamesWon["WPF"].sum()
    lose_foul = gamesLose["LPF"].sum()
    foul_total = won_foul + lose_foul
    foul_avg = foul_total / numgames
    
    #opnt foul 
    opnt_lose_foul = gamesLose['WPF'].sum()
    opnt_won_foul = gamesWon["LPF"].sum()
    opnt_foul_total = opnt_lose_foul + opnt_won_foul
    opnt_foul_avg = opnt_foul_total / numgames
    
    # free throw
    won_free_throw_attempt = gamesWon['WFTA'].sum()
    won_free_throw_made = gamesWon['WFTM'].sum()
    lose_free_throw_attempt = gamesLose['LFTA'].sum()
    lose_free_throw_made = gamesLose['LFTM'].sum()
    
    free_throw_attempt_total = won_free_throw_attempt + lose_free_throw_attempt
    free_throw_made_total = won_free_throw_made + lose_free_throw_made
    free_throw_attempt_per_game = free_throw_attempt_total/numgames
    free_throw_made_per_game = free_throw_made_total/numgames
    
    pct_free_throw_made = free_throw_made_per_game/free_throw_attempt_per_game
   
    opnt_free_throw_attempt_total = gamesLose['WFTA'].sum() + gamesWon['LFTA'].sum()
    opnt_free_throw_made_total= gamesLose['WFTM'].sum() + gamesWon['LFTM'].sum()
    opnt_free_throw_attempt_per_game = opnt_free_throw_attempt_total / numgames
    opnt_free_throw_made_per_game = opnt_free_throw_made_total / numgames
    
    pct_opnt_free_throw_made = opnt_free_throw_made_per_game / opnt_free_throw_attempt_per_game
    
    
    
    #% of turn over 
#     pct_won_turn_over_rate = (100*turnover_total)/(num_of_FG_attempt_total+\
#                                                    (0.44*free_throw_attempt_total)+ turnover_total)

#     print(per_won_turn_over_rate)
    
    #% of effective field goal 
#     pct_effective_FG = (num_of_FG_made_total+0.5*num_of_3point_made_total)/num_of_FG_attempt_total
#     print(per_effective_FG)
    
    #posessions 
#     possession = 0.5*((num_of_FG_attempt_total+0.4*free_throw_attempt_total-1.07*\
#                        (ofns_rebound_total/(ofns_rebound_total+opnt_defn_rebound_total))*\
#                        (num_of_FG_attempt_total-num_of_FG_made_total)+turnover_total)+\
#                       (num_opnt_FG_attempt_total+0.4*opnt_free_throw_attempt_total-1.07*\
#                        (opnt_ofns_rebound_total/(opnt_ofns_rebound_total+defn_rebound_total))*\
#                        (num_opnt_FG_attempt_total-num_opnt_FG_made_total)+opnt_turnover_total))
#     print(possession)
    
    return [totalgame, len_gamesWon, len_gamesLose, total_score, total_score_allowed, num_of_3point_made_total,\
            num_of_3point_attempt_total, num_opnt_3point_made_total, num_opnt_3point_attempt_total,\
            num_of_FG_made_total, num_of_FG_attempt_total, num_opnt_FG_made_total, num_opnt_FG_attempt_total,\
            turnover_total, opnt_turnover_total, assist_total, \
            ofns_rebound_total, opnt_ofns_rebound_total ,defn_rebound_total, opnt_defn_rebound_total,\
            foul_total, opnt_foul_total, free_throw_made_total, free_throw_attempt_total,\
            opnt_free_throw_made_total, opnt_free_throw_attempt_total]

reg_season_data(1276,2017)

[35,
 24,
 11,
 2618,
 2294,
 328,
 860,
 204,
 540,
 920,
 1905,
 869,
 1879,
 330,
 453,
 483,
 263,
 319,
 766,
 778,
 529,
 601,
 450,
 581,
 352,
 517]

In [88]:
def tor_season_data(team_id, year):
    try:
        
        #bring year data
        year_data_compact_pd = tor_compact_pd[tor_compact_pd['Season'] == year]
        year_data_detailed_pd = tor_detailed_pd[tor_detailed_pd['Season'] == year]
        # detailed num game, compact num game 같은것 확인함
        ##numgames = len(year_data_compact_pd)
        #by number of won/lose
        gamesWon_compact = year_data_compact_pd[year_data_compact_pd.WTeamID == team_id] 
        gamesLose_compact = year_data_compact_pd[year_data_compact_pd.LTeamID == team_id]
        gamesWon = year_data_detailed_pd[year_data_detailed_pd.WTeamID == team_id] 
        gamesLose = year_data_detailed_pd[year_data_detailed_pd.LTeamID == team_id]

    #     print(gamesWon)
        len_gamesWon_compact = len(gamesWon_compact)
        len_gamesLose_compact = len(gamesLose_compact)
        totalgame = len_gamesWon_compact + len_gamesLose_compact
    #     print(totalgame)

        len_gamesWon = len(gamesWon)
        len_gamesLose = len(gamesLose)
        totalgame = len_gamesWon + len_gamesLose


    #     print(reg_totalgame)
        #winning ratio
        winning_ratio = len_gamesWon/totalgame
        numgames = totalgame
    #     print(winning_ratio)



        #by point(avg score per game/ total score/ total score won / total score lose)
        won_score_total = gamesWon_compact['WScore'].sum()
        lose_score_total = gamesLose_compact['LScore'].sum()

        opnt_won_score_total = gamesWon_compact['LScore'].sum()
        opnt_lose_score_total = gamesLose_compact['WScore'].sum()
        total_score = won_score_total + lose_score_total
        avg_score_per_game = total_score/numgames
        total_score_allowed = opnt_won_score_total+ opnt_lose_score_total
        avg_score_allowed_to_opont = total_score_allowed /numgames 
    #     print(avg_score_allowed_to_opont)

            #3point made

        num_of_won_3point_made = gamesWon['WFGM3'].sum()
        num_of_won_3point_attempt = gamesWon['WFGA3'].sum()
        num_of_lose_3point_made = gamesLose['LFGM3'].sum()
        num_of_lose_3point_attempt = gamesLose['LFGA3'].sum()
    #     print(num_of_won_3point_made)
        num_of_3point_made_total = num_of_won_3point_made + num_of_lose_3point_made
        num_of_3point_attempt_total = num_of_won_3point_attempt + num_of_lose_3point_attempt
    #     print(num_of_3point_made_total)
        # num of 3 per game 
        num_of_3point_made_per_game = num_of_3point_made_total/numgames
        num_of_3point_attempt_per_game = num_of_3point_attempt_total/numgames 
    #     print(num_of_3point_made_per_game)
        # % of 3 made per game
        pct_of_3_point_made = num_of_3point_made_per_game/num_of_3point_attempt_per_game
    #     print(prcnt_of_3_point_made)      

        num_opnt_3point_attempt_total = gamesLose['WFGA3'].sum()+gamesWon['LFGA3'].sum()
        num_opnt_3point_made_total = gamesLose['WFGM3'].sum()+gamesWon['LFGM3'].sum()


        #field goal made
        num_of_won_FG_made = gamesWon['WFGM'].sum()
        num_of_won_FG_attempt = gamesWon['WFGA'].sum()
        num_of_lose_FG_made = gamesLose['LFGM'].sum()
        num_of_lose_FG_attempt = gamesLose['LFGA'].sum()

        num_of_FG_made_total = num_of_won_FG_made + num_of_lose_FG_made
        num_of_FG_attempt_total = num_of_won_FG_attempt + num_of_lose_FG_attempt
            #opponent
        num_opnt_FG_attempt_total = gamesLose['WFGA'].sum()+gamesWon['LFGA'].sum()
        num_opnt_FG_made_total = gamesLose['WFGM'].sum()+gamesWon['LFGM'].sum()

        #num of FG per game 
        num_of_FG_made_per_game = num_of_FG_made_total/numgames
        num_of_FG_attempt_per_game = num_of_FG_attempt_total/numgames 


        #% of FG made 
        pct_of_FG_point_made = num_of_FG_made_per_game/num_of_FG_attempt_per_game

        #by turnover(turnover per game)

            #id team 
        won_turnover= gamesWon['WTO'].sum()
        lose_turnover = gamesLose['LTO'].sum()
        turnover_total = won_turnover + lose_turnover

        avg_turnover = turnover_total/numgames
    #     print(avg_turnover)
            #opponent team  ####체크
        opnt_lose_turnover = gamesLose['WTO'].sum()
        opnt_won_turnover = gamesWon['LTO'].sum()

        opnt_turnover_total = opnt_lose_turnover + opnt_won_turnover
        opnt_turnover_avg = opnt_turnover_total/numgames
    #     print(opnt_turnover_avg)


        #assist per game 
        assist_won = gamesWon['WAst'].sum()
        assist_lose = gamesLose['LAst'].sum()

        assist_total = assist_won + assist_lose
        assist_avg = assist_total/numgames
    #     print(assist_avg)

    #rebound per game

            #offensive
        ofns_rebound_won =gamesWon['WOR'].sum()
        ofns_rebound_lose = gamesLose['LOR'].sum()

        ofns_rebound_total = ofns_rebound_won+ ofns_rebound_lose
        ofns_rebound_avg = ofns_rebound_total/numgames
                #opponemt
        opnt_ofns_rebound_lose = gamesLose['WOR'].sum()
        opnt_ofns_rebound_won = gamesWon['LOR'].sum()
        opnt_ofns_rebound_total= opnt_ofns_rebound_won + opnt_ofns_rebound_lose
        opnt_ofns_rebound_avg = opnt_ofns_rebound_total/numgames


            #defensive
        defn_rebound_won = gamesWon['WDR'].sum()
        defn_rebound_lose = gamesLose['LDR'].sum()
        defn_rebound_total= defn_rebound_won + defn_rebound_lose
        defn_rebound_avg = defn_rebound_total/numgames

                #opponent
        opnt_defn_rebound_lose = gamesLose['WDR'].sum()
        opnt_defn_rebound_won = gamesWon['LDR'].sum()
        opnt_defn_rebound_total=opnt_defn_rebound_lose + opnt_defn_rebound_won
        opnt_defn_rebound_avg = opnt_defn_rebound_total/numgames
    #     print(opnt_defn_rebound_avg)

        # foul
        won_foul = gamesWon["WPF"].sum()
        lose_foul = gamesLose["LPF"].sum()
        foul_total = won_foul + lose_foul
        foul_avg = foul_total / numgames

        #opnt foul 
        opnt_lose_foul = gamesLose['WPF'].sum()
        opnt_won_foul = gamesWon["LPF"].sum()
        opnt_foul_total = opnt_lose_foul + opnt_won_foul
        opnt_foul_avg = opnt_foul_total / numgames

        # free throw
        won_free_throw_attempt = gamesWon['WFTA'].sum()
        won_free_throw_made = gamesWon['WFTM'].sum()
        lose_free_throw_attempt = gamesLose['LFTA'].sum()
        lose_free_throw_made = gamesLose['LFTM'].sum()

        free_throw_attempt_total = won_free_throw_attempt + lose_free_throw_attempt
        free_throw_made_total = won_free_throw_made + lose_free_throw_made
        free_throw_attempt_per_game = free_throw_attempt_total/numgames
        free_throw_made_per_game = free_throw_made_total/numgames

        pct_free_throw_made = free_throw_made_per_game/free_throw_attempt_per_game

        opnt_free_throw_attempt_total = gamesLose['WFTA'].sum() + gamesWon['LFTA'].sum()
        opnt_free_throw_made_total= gamesLose['WFTM'].sum() + gamesWon['LFTM'].sum()
        opnt_free_throw_attempt_per_game = opnt_free_throw_attempt_total / numgames
        opnt_free_throw_made_per_game = opnt_free_throw_made_total / numgames

        pct_opnt_free_throw_made = opnt_free_throw_made_per_game / opnt_free_throw_attempt_per_game



        #% of turn over 
    #     pct_won_turn_over_rate = (100*turnover_total)/(num_of_FG_attempt_total+\
    #                                                    (0.44*free_throw_attempt_total)+ turnover_total)

    #     print(per_won_turn_over_rate)

        #% of effective field goal 
    #     pct_effective_FG = (num_of_FG_made_total+0.5*num_of_3point_made_total)/num_of_FG_attempt_total
    #     print(per_effective_FG)

        #posessions 
    #     possession = 0.5*((num_of_FG_attempt_total+0.4*free_throw_attempt_total-1.07*\
    #                        (ofns_rebound_total/(ofns_rebound_total+opnt_defn_rebound_total))*\
    #                        (num_of_FG_attempt_total-num_of_FG_made_total)+turnover_total)+\
    #                       (num_opnt_FG_attempt_total+0.4*opnt_free_throw_attempt_total-1.07*\
    #                        (opnt_ofns_rebound_total/(opnt_ofns_rebound_total+defn_rebound_total))*\
    #                        (num_opnt_FG_attempt_total-num_opnt_FG_made_total)+opnt_turnover_total))
    #     print(possession)

        return [totalgame, len_gamesWon, len_gamesLose, total_score, total_score_allowed, num_of_3point_made_total,\
                num_of_3point_attempt_total, num_opnt_3point_made_total, num_opnt_3point_attempt_total,\
                num_of_FG_made_total, num_of_FG_attempt_total, num_opnt_FG_made_total, num_opnt_FG_attempt_total,\
                turnover_total, opnt_turnover_total, assist_total, \
                ofns_rebound_total, opnt_ofns_rebound_total ,defn_rebound_total, opnt_defn_rebound_total,\
                foul_total, opnt_foul_total, free_throw_made_total, free_throw_attempt_total,\
                opnt_free_throw_made_total, opnt_free_throw_attempt_total]
    except:
        return [0]

tor_season_data(1276,2017)

[3,
 2,
 1,
 233,
 229,
 33,
 77,
 20,
 53,
 82,
 171,
 89,
 183,
 18,
 26,
 46,
 17,
 37,
 65,
 76,
 45,
 49,
 36,
 43,
 31,
 44]

In [93]:
def combined_data(team_id, year, tw = 1): 
    r = reg_season_data(team_id, year)
    t = tor_season_data(team_id, year)

    if t == [0]:
        t = [0] * len(r)
    
    
    total_num = r[0] + t[0]
    
    len_gamesWon = r[1] + tw*t[1]
    len_gamesLose = r[2] + tw*t[2]
    
    score_per_game = (r[3] + tw*t[3]) / total_num
    score_allowed_per_game = (r[4] + tw*t[4]) / total_num
    num_3pt_made_per_game = (r[5] + tw*t[5]) / total_num
    num_3pt_attempt_per_game = (r[6] + tw*t[6]) / total_num
    opnt_3pt_made_per_game = (r[7] + tw*t[7]) / total_num
    opnt_3pt_attempt_per_game = (r[8] + tw*t[8]) / total_num
    num_FG_made_per_game = (r[9] + tw*t[9]) / total_num
    num_FG_attempt_per_game = (r[10] + tw*t[10]) / total_num
    opnt_FG_made_per_game = (r[11] + tw*t[11]) / total_num
    opnt_FG_attempt_per_game = (r[12] + tw*t[12]) / total_num
    turnover_per_game = (r[13] + tw*t[13]) / total_num
    opnt_turnover_per_game = (r[14] + tw*t[14]) / total_num
    assist_per_game = (r[15] + tw*t[15]) / total_num
    ofns_rebound_per_game = (r[16] + tw*t[16]) / total_num
    opnt_ofns_rebound_per_game = (r[17] + tw*t[17]) / total_num
    defn_rebound_per_game = (r[18] + tw*t[18]) / total_num
    opnt_defn_rebound_per_game = (r[19] + tw*t[19]) / total_num
    foul_per_game = (r[20] + tw*t[20]) / total_num
    opnt_foul_per_game = (r[21] + tw*t[21]) / total_num
    free_throw_made_per_game = (r[22] + tw*t[22]) / total_num
    free_throw_attempt_per_game = (r[23] + tw*t[23]) / total_num
    opnt_free_throw_made_per_game = (r[24] + tw*t[24]) / total_num
    opnt_free_throw_attempt_per_game = (r[25] + tw*t[25]) / total_num
    
    
    
#   % of turn over 
    pct_won_turn_over_rate = (100*turnover_per_game)/(num_FG_attempt_per_game+\
                                                   (0.44*free_throw_attempt_per_game)+ turnover_per_game)

  
    
#   % of effective field goal 
    pct_effective_FG = (num_FG_made_per_game + 0.5*num_3pt_made_per_game)/num_FG_attempt_per_game 
    
    
#   posessions 
    possession = 0.5*((num_FG_attempt_per_game+0.4*free_throw_attempt_per_game-1.07*\
                       (ofns_rebound_per_game/(ofns_rebound_per_game+opnt_defn_rebound_per_game))*\
                       (num_FG_attempt_per_game - num_FG_made_per_game)+turnover_per_game)+\
                      (opnt_FG_attempt_per_game+0.4*opnt_free_throw_attempt_per_game-1.07*\
                       (opnt_ofns_rebound_per_game/(opnt_ofns_rebound_per_game + defn_rebound_per_game))*\
                       (opnt_FG_attempt_per_game - num_FG_made_per_game)+opnt_turnover_per_game))
    
    return [len_gamesWon, len_gamesLose, score_per_game, score_allowed_per_game, num_3pt_made_per_game,\
            num_3pt_attempt_per_game, opnt_3pt_made_per_game, opnt_3pt_attempt_per_game,\
            num_FG_made_per_game, num_FG_attempt_per_game, opnt_FG_made_per_game, opnt_FG_attempt_per_game,\
            turnover_per_game, opnt_turnover_per_game, assist_per_game, \
            ofns_rebound_per_game, opnt_ofns_rebound_per_game ,defn_rebound_per_game, opnt_defn_rebound_per_game,\
            foul_per_game, opnt_foul_per_game, free_throw_made_per_game, free_throw_attempt_per_game,\
            opnt_free_throw_made_per_game, opnt_free_throw_attempt_per_game, pct_won_turn_over_rate,\
            pct_effective_FG, possession]


combined_data(1276,2017)

[26,
 12,
 75.02631578947368,
 66.39473684210526,
 9.5,
 24.657894736842106,
 5.894736842105263,
 15.605263157894736,
 26.36842105263158,
 54.63157894736842,
 25.210526315789473,
 54.26315789473684,
 9.157894736842104,
 12.605263157894736,
 13.921052631578947,
 7.368421052631579,
 9.368421052631579,
 21.86842105263158,
 22.473684210526315,
 15.105263157894736,
 17.105263157894736,
 12.789473684210526,
 16.42105263157895,
 10.078947368421053,
 14.763157894736842,
 12.895766631092137,
 0.5696050096339114,
 63.35641320609395]

In [94]:
def diffvec(team1, team2, year):
    w = np.array(combined_data(team1, year))
    l = np.array(combined_data(team2, year))
    t = w-l
    
    return t

diffvec(1276, 1277, 2017)

array([ 6.        , -3.        ,  3.16917293, -2.29097744,  1.7       ,
        3.74360902, -0.6481203 , -3.30902256,  0.5112782 , -0.42556391,
        1.43909774, -3.70827068, -4.84210526,  1.7481203 , -2.96466165,
       -2.00300752, -0.77443609, -5.1887218 , -0.29774436, -4.9518797 ,
       -1.72330827,  0.44661654, -2.0075188 , -4.52105263, -5.35112782,
       -5.24700588,  0.02912758, -4.05576788])

In [95]:
diffvec(1266, 1437, 2003)

array([ 12.        ,  -9.        ,   6.25454545,  -0.64545455,
        -0.54545455,  -3.70606061,  -0.47878788,   1.05757576,
         2.46969697,  -2.36969697,   1.33333333,   4.96363636,
        -2.76060606,  -4.66363636,   3.08484848,  -1.76060606,
         1.81212121,  -0.03333333,  -3.83939394,  -2.05151515,
        -0.66666667,   1.86060606,   0.73333333,  -2.83333333,
        -4.12727273,  -2.31322789,   0.05868019,  -3.29989348])

In [96]:
combined_data(1266, 2003)

[27,
 6,
 78.45454545454545,
 69.45454545454545,
 6.121212121212121,
 15.393939393939394,
 6.787878787878788,
 20.424242424242426,
 27.303030303030305,
 56.696969696969695,
 24.666666666666668,
 59.36363636363637,
 13.272727272727273,
 12.303030303030303,
 16.151515151515152,
 12.93939393939394,
 13.212121212121213,
 23.666666666666668,
 19.060606060606062,
 18.848484848484848,
 20.333333333333332,
 17.727272727272727,
 23.0,
 13.333333333333334,
 19.272727272727273,
 16.572327995883402,
 0.5355424906467131,
 66.76892848778928]

In [99]:
def create_train_data():
    x_train = []
    y_train = []
    
    raw_data_list = [reg_season_detailed_pd[:5000], tor_detailed_pd]
    print("reg_season_detailed_pd.shape", reg_season_detailed_pd.shape,"tor_detailed_pd.shape", tor_detailed_pd.shape)
    print("reg_season_detailed_pd", reg_season_detailed_pd[:10],"tor_detailed_pd.shape", tor_detailed_pd[:10])
    for raw_data in raw_data_list:
        for index, row in raw_data.iterrows():
            if index % 100 == 0:
                print("running idx {}".format(index))
            win_diff = diffvec(row[2], row[4], row[0])
            x_train.append(win_diff)                      
            y_train.append(1)
            
            lose_diff = diffvec(row[4], row[2], row[0])
            x_train.append(lose_diff)                      
            y_train.append(0)
    
    x_train = np.array(x_train)
    y_train = np.array(y_train)
    print("x_train", x_train[:10], "shape", x_train.shape)   
    print("y_train", y_train[:10], "shape", y_train.shape)
    
    return x_train, y_train

reg_season_detailed_pd.shape (76636, 34) tor_detailed_pd.shape (981, 34)
reg_season_detailed_pd    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61
5    2003      11     1458      81     1186      55    H      0    26    57
6    2003      12     1161      80     1236      62    H      0    23    55
7    2003      12     1186      75     1457      61    N      0    28    62
8    2003      12     1194      71     1156      66    N      0    28    58
9    2003      12     1458      84     1296      56    H      0    32    67

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      10    16    22   10   22     8   18     9     2   20
1 ...      24     9    20   20   25     7   12     8     6   16
2 ...      26    14    23   31   22     9   12     2     5   23
3 ...      22     8    15   17   20     9   19     4     3   23
4 ...      16    17    27   21   15    12   10     7     1   14
5 ...      11    12    17    6   22     8   19     4     3   25
6 ...      15    20    28    9   21    11   30    10     4   28
7 ...      17    17    23    8   25    10   15    14     8   18
8 ...      18    12    27   13   26    13   25     8     2   18
9 ...      14     7    12    9   23    10   18     1     3   18

[10 rows x 34 columns] tor_detailed_pd.shape    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64
5    2003     136     1163      58     1140      53    N      0    17    52
6    2003     136     1181      67     1161      57    N      0    19    54
7    2003     136     1211      74     1153      69    N      0    20    47
8    2003     136     1228      65     1443      60    N      0    24    56
9    2003     136     1242      64     1429      61    N      0    28    51

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      31    14    31   17   28    16   15     5     0   22
1 ...      16     7     7    8   26    12   17    10     3   15
2 ...      28    14    21   20   22    11   12     2     5   18
3 ...      17    12    17   14   17    20   21     6     6   21
4 ...      21    15    20   10   26    16   14     5     8   19
5 ...      17    11    13   15   26    11   11     8     4   22
6 ...      11    18    22   11   24     8   19     5     4   19
7 ...      27     7    10   13   22    13   10     7     6   24
8 ...      24     8    13   17   18    10   14     6     5   16
9 ...      17     9    10   13   19    13   13     6     1   15

[10 rows x 34 columns]
running idx 0
running idx 100
running idx 200
running idx 300
running idx 400
running idx 500
running idx 600
running idx 700
running idx 800
running idx 900
running idx 1000
running idx 1100
running idx 1200
running idx 1300
running idx 1400
running idx 1500
running idx 1600
running idx 1700
running idx 1800
running idx 1900
running idx 2000
running idx 2100
running idx 2200
running idx 2300
running idx 2400
running idx 2500
running idx 2600
running idx 2700
running idx 2800
running idx 2900
running idx 3000

KeyboardInterrupt:

In [ ]:
from sklearn.linear_model import LogisticRegression

def run_model(x_train, y_train):
    logisticRegr = LogisticRegression()
    logisticRegr.fit(x_train, y_train, n_jobs=2)
    return logisticRegr.coef_, logisticRegr.intercept_, logisticRegr.n_iter_

In [ ]:
x_train, y_train = create_train_data()
coef, intercept, n_iter = run_model(x_train, y_train)
print(coef, intercept, n_iter)

reg_season_detailed_pd.shape (76636, 34) tor_detailed_pd.shape (981, 34)
reg_season_detailed_pd    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61
5    2003      11     1458      81     1186      55    H      0    26    57
6    2003      12     1161      80     1236      62    H      0    23    55
7    2003      12     1186      75     1457      61    N      0    28    62
8    2003      12     1194      71     1156      66    N      0    28    58
9    2003      12     1458      84     1296      56    H      0    32    67

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      10    16    22   10   22     8   18     9     2   20
1 ...      24     9    20   20   25     7   12     8     6   16
2 ...      26    14    23   31   22     9   12     2     5   23
3 ...      22     8    15   17   20     9   19     4     3   23
4 ...      16    17    27   21   15    12   10     7     1   14
5 ...      11    12    17    6   22     8   19     4     3   25
6 ...      15    20    28    9   21    11   30    10     4   28
7 ...      17    17    23    8   25    10   15    14     8   18
8 ...      18    12    27   13   26    13   25     8     2   18
9 ...      14     7    12    9   23    10   18     1     3   18

[10 rows x 34 columns] tor_detailed_pd.shape    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64
5    2003     136     1163      58     1140      53    N      0    17    52
6    2003     136     1181      67     1161      57    N      0    19    54
7    2003     136     1211      74     1153      69    N      0    20    47
8    2003     136     1228      65     1443      60    N      0    24    56
9    2003     136     1242      64     1429      61    N      0    28    51

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      31    14    31   17   28    16   15     5     0   22
1 ...      16     7     7    8   26    12   17    10     3   15
2 ...      28    14    21   20   22    11   12     2     5   18
3 ...      17    12    17   14   17    20   21     6     6   21
4 ...      21    15    20   10   26    16   14     5     8   19
5 ...      17    11    13   15   26    11   11     8     4   22
6 ...      11    18    22   11   24     8   19     5     4   19
7 ...      27     7    10   13   22    13   10     7     6   24
8 ...      24     8    13   17   18    10   14     6     5   16
9 ...      17     9    10   13   19    13   13     6     1   15

[10 rows x 34 columns]
running idx 0
running idx 100
running idx 200
running idx 300
running idx 400
running idx 500
running idx 600
running idx 700
running idx 800
running idx 900
running idx 1000