### March Madness 2018 Prediction
### Created by Sangho Eum, Soobum Jun, Seonghwa Choi

In [110]:
import pandas as pd
import numpy as np
import math
import csv

In [133]:
reg_season_compact_pd = pd.read_csv('data/RegularSeasonCompactResults_Prelim2018.csv')
reg_season_compact_pd.head()
# From 1985 To 2017

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [134]:
reg_season_detailed_pd = pd.read_csv('data/RegularSeasonDetailedResults_Prelim2018.csv')
reg_season_detailed_pd.head()
# From 2003 To 2017

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [113]:
season_pd = pd.read_csv('data/Seasons.csv')
season_pd.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [114]:
cities_pd = pd.read_csv('data/Cities.csv')
cities_pd.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [115]:
conference_pd = pd.read_csv('data/Conferences.csv')
conference_pd.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

In [116]:
tor_compact_pd = pd.read_csv('data/NCAATourneyCompactResults.csv')
tor_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [117]:
tor_detailed_pd = pd.read_csv('data/NCAATourneyDetailedResults.csv')
tor_detailed_pd.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [118]:
teams_pd =pd.read_csv('data/Teams.csv')
teams_pd.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [160]:
seed_pd = pd.read_csv('data/NCAATourneySeeds.csv')
seed_pd.head()

def seed_return(team, year):
    try:
        a = seed_pd[seed_pd["TeamID"] == team]
        b = a[a["Season"] == year]
        return int(b["rank"])
    except:
        return int(20)

seed_return(1246, 2018)

5

In [120]:
listACCteams = ['North Carolina','Virginia','Florida St','Louisville','Notre Dame','Syracuse','Duke','Virginia Tech','Georgia Tech','Miami','Wake Forest','Clemson','NC State','Boston College','Pittsburgh']
listPac12teams = ['Arizona','Oregon','UCLA','California','USC','Utah','Washington St','Stanford','Arizona St','Colorado','Washington','Oregon St']
listSECteams = ['Kentucky','South Carolina','Florida','Arkansas','Alabama','Tennessee','Mississippi St','Georgia','Ole Miss','Vanderbilt','Auburn','Texas A&M','LSU','Missouri']
listBig10teams = ['Maryland','Wisconsin','Purdue','Northwestern','Michigan St','Indiana','Iowa','Michigan','Penn St','Nebraska','Minnesota','Illinois','Ohio St','Rutgers']
listBig12teams = ['Kansas','Baylor','West Virginia','Iowa St','TCU','Kansas St','Texas Tech','Oklahoma St','Texas','Oklahoma']
listBigEastteams = ['Butler','Creighton','DePaul','Georgetown','Marquette','Providence','Seton Hall','St John\'s','Villanova','Xavier']

In [121]:
def reg_season_data(team_id, year):
    
#bring year data
    year_data_compact_pd = reg_season_compact_pd[reg_season_compact_pd['Season'] == year]
    year_data_detailed_pd = reg_season_detailed_pd[reg_season_detailed_pd['Season'] == year]
    # detailed num game, compact num game 같은것 확인함
    ##numgames = len(year_data_compact_pd)
    #by number of won/lose
    gamesWon_compact = year_data_compact_pd[year_data_compact_pd.WTeamID == team_id] 
    gamesLose_compact = year_data_compact_pd[year_data_compact_pd.LTeamID == team_id]
    gamesWon = year_data_detailed_pd[year_data_detailed_pd.WTeamID == team_id] 
    gamesLose = year_data_detailed_pd[year_data_detailed_pd.LTeamID == team_id]
    #print(gamesWon)
    len_gamesWon_compact = len(gamesWon_compact)
    len_gamesLose_compact = len(gamesLose_compact)
    totalgame_compact = len_gamesWon_compact + len_gamesLose_compact
#     print(totalgame_compact)

    len_gamesWon = len(gamesWon)
    len_gamesLose = len(gamesLose)
    totalgame = len_gamesWon + len_gamesLose
    
#     print(reg_totalgame)
    #winning ratio
    winning_ratio = len_gamesWon/totalgame
    numgames = totalgame
#     print(winning_ratio)
    


    #by point(avg score per game/ total score/ total score won / total score lose)
    won_score_total = gamesWon_compact['WScore'].sum()
    lose_score_total = gamesLose_compact['LScore'].sum()
    
    opnt_won_score_total = gamesWon_compact['LScore'].sum()
    opnt_lose_score_total = gamesLose_compact['WScore'].sum()
    total_score = won_score_total + lose_score_total
    avg_score_per_game = total_score/numgames
    total_score_allowed = opnt_won_score_total+ opnt_lose_score_total
    avg_score_allowed_to_opont = total_score_allowed /numgames 
#     print(avg_score_allowed_to_opont)

        #3point made
            
    num_of_won_3point_made = gamesWon['WFGM3'].sum()
    num_of_won_3point_attempt = gamesWon['WFGA3'].sum()
    num_of_lose_3point_made = gamesLose['LFGM3'].sum()
    num_of_lose_3point_attempt = gamesLose['LFGA3'].sum()
#     print(num_of_won_3point_made)
    num_of_3point_made_total = num_of_won_3point_made + num_of_lose_3point_made
    num_of_3point_attempt_total = num_of_won_3point_attempt + num_of_lose_3point_attempt
#     print(num_of_3point_made_total)
    # num of 3 per game 
    num_of_3point_made_per_game = num_of_3point_made_total/numgames
    num_of_3point_attempt_per_game = num_of_3point_attempt_total/numgames 
#     print(num_of_3point_made_per_game)
    # % of 3 made per game
    pct_of_3_point_made = num_of_3point_made_per_game/num_of_3point_attempt_per_game
#     print(prcnt_of_3_point_made)      
    
    num_opnt_3point_attempt_total = gamesLose['WFGA3'].sum()+gamesWon['LFGA3'].sum()
    num_opnt_3point_made_total = gamesLose['WFGM3'].sum()+gamesWon['LFGM3'].sum()
    
    
    #field goal made
    num_of_won_FG_made = gamesWon['WFGM'].sum()
    num_of_won_FG_attempt = gamesWon['WFGA'].sum()
    num_of_lose_FG_made = gamesLose['LFGM'].sum()
    num_of_lose_FG_attempt = gamesLose['LFGA'].sum()
    
    num_of_FG_made_total = num_of_won_FG_made + num_of_lose_FG_made
    num_of_FG_attempt_total = num_of_won_FG_attempt + num_of_lose_FG_attempt
        #opponent
    num_opnt_FG_attempt_total = gamesLose['WFGA'].sum()+gamesWon['LFGA'].sum()
    num_opnt_FG_made_total = gamesLose['WFGM'].sum()+gamesWon['LFGM'].sum()
    
    #num of FG per game 
    num_of_FG_made_per_game = num_of_FG_made_total/numgames
    num_of_FG_attempt_per_game = num_of_FG_attempt_total/numgames 
    

    #% of FG made 
    pct_of_FG_point_made = num_of_FG_made_per_game/num_of_FG_attempt_per_game
    
    #by turnover(turnover per game)
    
        #id team 
    won_turnover= gamesWon['WTO'].sum()
    lose_turnover = gamesLose['LTO'].sum()
    turnover_total = won_turnover + lose_turnover

    avg_turnover = turnover_total/numgames
#     print(avg_turnover)
        #opponent team  ####체크
    opnt_lose_turnover = gamesLose['WTO'].sum()
    opnt_won_turnover = gamesWon['LTO'].sum()

    opnt_turnover_total = opnt_lose_turnover + opnt_won_turnover
    opnt_turnover_avg = opnt_turnover_total/numgames
#     print(opnt_turnover_avg)

    
    #assist per game 
    assist_won = gamesWon['WAst'].sum()
    assist_lose = gamesLose['LAst'].sum()
    
    assist_total = assist_won + assist_lose
    assist_avg = assist_total/numgames
#     print(assist_avg)

#rebound per game
    
        #offensive
    ofns_rebound_won =gamesWon['WOR'].sum()
    ofns_rebound_lose = gamesLose['LOR'].sum()
    
    ofns_rebound_total = ofns_rebound_won+ ofns_rebound_lose
    ofns_rebound_avg = ofns_rebound_total/numgames
            #opponemt
    opnt_ofns_rebound_lose = gamesLose['WOR'].sum()
    opnt_ofns_rebound_won = gamesWon['LOR'].sum()
    opnt_ofns_rebound_total= opnt_ofns_rebound_won + opnt_ofns_rebound_lose
    opnt_ofns_rebound_avg = opnt_ofns_rebound_total/numgames
    
    
        #defensive
    defn_rebound_won = gamesWon['WDR'].sum()
    defn_rebound_lose = gamesLose['LDR'].sum()
    defn_rebound_total= defn_rebound_won + defn_rebound_lose
    defn_rebound_avg = defn_rebound_total/numgames
    
            #opponent
    opnt_defn_rebound_lose = gamesLose['WDR'].sum()
    opnt_defn_rebound_won = gamesWon['LDR'].sum()
    opnt_defn_rebound_total=opnt_defn_rebound_lose + opnt_defn_rebound_won
    opnt_defn_rebound_avg = opnt_defn_rebound_total/numgames
#     print(opnt_defn_rebound_avg)
    
    # foul
    won_foul = gamesWon["WPF"].sum()
    lose_foul = gamesLose["LPF"].sum()
    foul_total = won_foul + lose_foul
    foul_avg = foul_total / numgames
    
    #opnt foul 
    opnt_lose_foul = gamesLose['WPF'].sum()
    opnt_won_foul = gamesWon["LPF"].sum()
    opnt_foul_total = opnt_lose_foul + opnt_won_foul
    opnt_foul_avg = opnt_foul_total / numgames
    
    # free throw
    won_free_throw_attempt = gamesWon['WFTA'].sum()
    won_free_throw_made = gamesWon['WFTM'].sum()
    lose_free_throw_attempt = gamesLose['LFTA'].sum()
    lose_free_throw_made = gamesLose['LFTM'].sum()
    
    free_throw_attempt_total = won_free_throw_attempt + lose_free_throw_attempt
    free_throw_made_total = won_free_throw_made + lose_free_throw_made
    free_throw_attempt_per_game = free_throw_attempt_total/numgames
    free_throw_made_per_game = free_throw_made_total/numgames
    
    pct_free_throw_made = free_throw_made_per_game/free_throw_attempt_per_game
   
    opnt_free_throw_attempt_total = gamesLose['WFTA'].sum() + gamesWon['LFTA'].sum()
    opnt_free_throw_made_total= gamesLose['WFTM'].sum() + gamesWon['LFTM'].sum()
    opnt_free_throw_attempt_per_game = opnt_free_throw_attempt_total / numgames
    opnt_free_throw_made_per_game = opnt_free_throw_made_total / numgames
    
    pct_opnt_free_throw_made = opnt_free_throw_made_per_game / opnt_free_throw_attempt_per_game
    
    
    
    #% of turn over 
#     pct_won_turn_over_rate = (100*turnover_total)/(num_of_FG_attempt_total+\
#                                                    (0.44*free_throw_attempt_total)+ turnover_total)

#     print(per_won_turn_over_rate)
    
    #% of effective field goal 
#     pct_effective_FG = (num_of_FG_made_total+0.5*num_of_3point_made_total)/num_of_FG_attempt_total
#     print(per_effective_FG)
    
    #posessions 
#     possession = 0.5*((num_of_FG_attempt_total+0.4*free_throw_attempt_total-1.07*\
#                        (ofns_rebound_total/(ofns_rebound_total+opnt_defn_rebound_total))*\
#                        (num_of_FG_attempt_total-num_of_FG_made_total)+turnover_total)+\
#                       (num_opnt_FG_attempt_total+0.4*opnt_free_throw_attempt_total-1.07*\
#                        (opnt_ofns_rebound_total/(opnt_ofns_rebound_total+defn_rebound_total))*\
#                        (num_opnt_FG_attempt_total-num_opnt_FG_made_total)+opnt_turnover_total))
#     print(possession)
    
    return [totalgame, len_gamesWon, len_gamesLose, total_score, total_score_allowed, num_of_3point_made_total,\
            num_of_3point_attempt_total, num_opnt_3point_made_total, num_opnt_3point_attempt_total,\
            num_of_FG_made_total, num_of_FG_attempt_total, num_opnt_FG_made_total, num_opnt_FG_attempt_total,\
            turnover_total, opnt_turnover_total, assist_total, \
            ofns_rebound_total, opnt_ofns_rebound_total ,defn_rebound_total, opnt_defn_rebound_total,\
            foul_total, opnt_foul_total, free_throw_made_total, free_throw_attempt_total,\
            opnt_free_throw_made_total, opnt_free_throw_attempt_total]

reg_season_data(1276,2017)

[35,
 24,
 11,
 2618,
 2294,
 328,
 860,
 204,
 540,
 920,
 1905,
 869,
 1879,
 330,
 453,
 483,
 263,
 319,
 766,
 778,
 529,
 601,
 450,
 581,
 352,
 517]

In [122]:
def tor_season_data(team_id, year):
    try:
        
        #bring year data
        year_data_compact_pd = tor_compact_pd[tor_compact_pd['Season'] == year]
        year_data_detailed_pd = tor_detailed_pd[tor_detailed_pd['Season'] == year]
        # detailed num game, compact num game 같은것 확인함
        ##numgames = len(year_data_compact_pd)
        #by number of won/lose
        gamesWon_compact = year_data_compact_pd[year_data_compact_pd.WTeamID == team_id] 
        gamesLose_compact = year_data_compact_pd[year_data_compact_pd.LTeamID == team_id]
        gamesWon = year_data_detailed_pd[year_data_detailed_pd.WTeamID == team_id] 
        gamesLose = year_data_detailed_pd[year_data_detailed_pd.LTeamID == team_id]

    #     print(gamesWon)
        len_gamesWon_compact = len(gamesWon_compact)
        len_gamesLose_compact = len(gamesLose_compact)
        totalgame = len_gamesWon_compact + len_gamesLose_compact
    #     print(totalgame)

        len_gamesWon = len(gamesWon)
        len_gamesLose = len(gamesLose)
        totalgame = len_gamesWon + len_gamesLose


    #     print(reg_totalgame)
        #winning ratio
        winning_ratio = len_gamesWon/totalgame
        numgames = totalgame
    #     print(winning_ratio)



        #by point(avg score per game/ total score/ total score won / total score lose)
        won_score_total = gamesWon_compact['WScore'].sum()
        lose_score_total = gamesLose_compact['LScore'].sum()

        opnt_won_score_total = gamesWon_compact['LScore'].sum()
        opnt_lose_score_total = gamesLose_compact['WScore'].sum()
        total_score = won_score_total + lose_score_total
        avg_score_per_game = total_score/numgames
        total_score_allowed = opnt_won_score_total+ opnt_lose_score_total
        avg_score_allowed_to_opont = total_score_allowed /numgames 
    #     print(avg_score_allowed_to_opont)

            #3point made

        num_of_won_3point_made = gamesWon['WFGM3'].sum()
        num_of_won_3point_attempt = gamesWon['WFGA3'].sum()
        num_of_lose_3point_made = gamesLose['LFGM3'].sum()
        num_of_lose_3point_attempt = gamesLose['LFGA3'].sum()
    #     print(num_of_won_3point_made)
        num_of_3point_made_total = num_of_won_3point_made + num_of_lose_3point_made
        num_of_3point_attempt_total = num_of_won_3point_attempt + num_of_lose_3point_attempt
    #     print(num_of_3point_made_total)
        # num of 3 per game 
        num_of_3point_made_per_game = num_of_3point_made_total/numgames
        num_of_3point_attempt_per_game = num_of_3point_attempt_total/numgames 
    #     print(num_of_3point_made_per_game)
        # % of 3 made per game
        pct_of_3_point_made = num_of_3point_made_per_game/num_of_3point_attempt_per_game
    #     print(prcnt_of_3_point_made)      

        num_opnt_3point_attempt_total = gamesLose['WFGA3'].sum()+gamesWon['LFGA3'].sum()
        num_opnt_3point_made_total = gamesLose['WFGM3'].sum()+gamesWon['LFGM3'].sum()


        #field goal made
        num_of_won_FG_made = gamesWon['WFGM'].sum()
        num_of_won_FG_attempt = gamesWon['WFGA'].sum()
        num_of_lose_FG_made = gamesLose['LFGM'].sum()
        num_of_lose_FG_attempt = gamesLose['LFGA'].sum()

        num_of_FG_made_total = num_of_won_FG_made + num_of_lose_FG_made
        num_of_FG_attempt_total = num_of_won_FG_attempt + num_of_lose_FG_attempt
            #opponent
        num_opnt_FG_attempt_total = gamesLose['WFGA'].sum()+gamesWon['LFGA'].sum()
        num_opnt_FG_made_total = gamesLose['WFGM'].sum()+gamesWon['LFGM'].sum()

        #num of FG per game 
        num_of_FG_made_per_game = num_of_FG_made_total/numgames
        num_of_FG_attempt_per_game = num_of_FG_attempt_total/numgames 


        #% of FG made 
        pct_of_FG_point_made = num_of_FG_made_per_game/num_of_FG_attempt_per_game

        #by turnover(turnover per game)

            #id team 
        won_turnover= gamesWon['WTO'].sum()
        lose_turnover = gamesLose['LTO'].sum()
        turnover_total = won_turnover + lose_turnover

        avg_turnover = turnover_total/numgames
    #     print(avg_turnover)
            #opponent team  ####체크
        opnt_lose_turnover = gamesLose['WTO'].sum()
        opnt_won_turnover = gamesWon['LTO'].sum()

        opnt_turnover_total = opnt_lose_turnover + opnt_won_turnover
        opnt_turnover_avg = opnt_turnover_total/numgames
    #     print(opnt_turnover_avg)


        #assist per game 
        assist_won = gamesWon['WAst'].sum()
        assist_lose = gamesLose['LAst'].sum()

        assist_total = assist_won + assist_lose
        assist_avg = assist_total/numgames
    #     print(assist_avg)

    #rebound per game

            #offensive
        ofns_rebound_won =gamesWon['WOR'].sum()
        ofns_rebound_lose = gamesLose['LOR'].sum()

        ofns_rebound_total = ofns_rebound_won+ ofns_rebound_lose
        ofns_rebound_avg = ofns_rebound_total/numgames
                #opponemt
        opnt_ofns_rebound_lose = gamesLose['WOR'].sum()
        opnt_ofns_rebound_won = gamesWon['LOR'].sum()
        opnt_ofns_rebound_total= opnt_ofns_rebound_won + opnt_ofns_rebound_lose
        opnt_ofns_rebound_avg = opnt_ofns_rebound_total/numgames


            #defensive
        defn_rebound_won = gamesWon['WDR'].sum()
        defn_rebound_lose = gamesLose['LDR'].sum()
        defn_rebound_total= defn_rebound_won + defn_rebound_lose
        defn_rebound_avg = defn_rebound_total/numgames

                #opponent
        opnt_defn_rebound_lose = gamesLose['WDR'].sum()
        opnt_defn_rebound_won = gamesWon['LDR'].sum()
        opnt_defn_rebound_total=opnt_defn_rebound_lose + opnt_defn_rebound_won
        opnt_defn_rebound_avg = opnt_defn_rebound_total/numgames
    #     print(opnt_defn_rebound_avg)

        # foul
        won_foul = gamesWon["WPF"].sum()
        lose_foul = gamesLose["LPF"].sum()
        foul_total = won_foul + lose_foul
        foul_avg = foul_total / numgames

        #opnt foul 
        opnt_lose_foul = gamesLose['WPF'].sum()
        opnt_won_foul = gamesWon["LPF"].sum()
        opnt_foul_total = opnt_lose_foul + opnt_won_foul
        opnt_foul_avg = opnt_foul_total / numgames

        # free throw
        won_free_throw_attempt = gamesWon['WFTA'].sum()
        won_free_throw_made = gamesWon['WFTM'].sum()
        lose_free_throw_attempt = gamesLose['LFTA'].sum()
        lose_free_throw_made = gamesLose['LFTM'].sum()

        free_throw_attempt_total = won_free_throw_attempt + lose_free_throw_attempt
        free_throw_made_total = won_free_throw_made + lose_free_throw_made
        free_throw_attempt_per_game = free_throw_attempt_total/numgames
        free_throw_made_per_game = free_throw_made_total/numgames

        pct_free_throw_made = free_throw_made_per_game/free_throw_attempt_per_game

        opnt_free_throw_attempt_total = gamesLose['WFTA'].sum() + gamesWon['LFTA'].sum()
        opnt_free_throw_made_total= gamesLose['WFTM'].sum() + gamesWon['LFTM'].sum()
        opnt_free_throw_attempt_per_game = opnt_free_throw_attempt_total / numgames
        opnt_free_throw_made_per_game = opnt_free_throw_made_total / numgames

        pct_opnt_free_throw_made = opnt_free_throw_made_per_game / opnt_free_throw_attempt_per_game



        #% of turn over 
    #     pct_won_turn_over_rate = (100*turnover_total)/(num_of_FG_attempt_total+\
    #                                                    (0.44*free_throw_attempt_total)+ turnover_total)

    #     print(per_won_turn_over_rate)

        #% of effective field goal 
    #     pct_effective_FG = (num_of_FG_made_total+0.5*num_of_3point_made_total)/num_of_FG_attempt_total
    #     print(per_effective_FG)

        #posessions 
    #     possession = 0.5*((num_of_FG_attempt_total+0.4*free_throw_attempt_total-1.07*\
    #                        (ofns_rebound_total/(ofns_rebound_total+opnt_defn_rebound_total))*\
    #                        (num_of_FG_attempt_total-num_of_FG_made_total)+turnover_total)+\
    #                       (num_opnt_FG_attempt_total+0.4*opnt_free_throw_attempt_total-1.07*\
    #                        (opnt_ofns_rebound_total/(opnt_ofns_rebound_total+defn_rebound_total))*\
    #                        (num_opnt_FG_attempt_total-num_opnt_FG_made_total)+opnt_turnover_total))
    #     print(possession)

        return [totalgame, len_gamesWon, len_gamesLose, total_score, total_score_allowed, num_of_3point_made_total,\
                num_of_3point_attempt_total, num_opnt_3point_made_total, num_opnt_3point_attempt_total,\
                num_of_FG_made_total, num_of_FG_attempt_total, num_opnt_FG_made_total, num_opnt_FG_attempt_total,\
                turnover_total, opnt_turnover_total, assist_total, \
                ofns_rebound_total, opnt_ofns_rebound_total ,defn_rebound_total, opnt_defn_rebound_total,\
                foul_total, opnt_foul_total, free_throw_made_total, free_throw_attempt_total,\
                opnt_free_throw_made_total, opnt_free_throw_attempt_total]
    except:
        return [0]

tor_season_data(1276,2017)

[3,
 2,
 1,
 233,
 229,
 33,
 77,
 20,
 53,
 82,
 171,
 89,
 183,
 18,
 26,
 46,
 17,
 37,
 65,
 76,
 45,
 49,
 36,
 43,
 31,
 44]

In [123]:
def combined_data(team_id, year, tw = 1): 
    r = reg_season_data(team_id, year)
    t = tor_season_data(team_id, year)
    
    if t == [0]:
        t = [0] * len(r)
    
    seed = seed_return(team_id, year)
    
    total_num = r[0] + t[0]
    
    len_gamesWon = r[1] + tw*t[1]
    len_gamesLose = r[2] + tw*t[2]
    
    score_per_game = (r[3] + tw*t[3]) / total_num
    score_allowed_per_game = (r[4] + tw*t[4]) / total_num
    num_3pt_made_per_game = (r[5] + tw*t[5]) / total_num
    num_3pt_attempt_per_game = (r[6] + tw*t[6]) / total_num
    opnt_3pt_made_per_game = (r[7] + tw*t[7]) / total_num
    opnt_3pt_attempt_per_game = (r[8] + tw*t[8]) / total_num
    num_FG_made_per_game = (r[9] + tw*t[9]) / total_num
    num_FG_attempt_per_game = (r[10] + tw*t[10]) / total_num
    opnt_FG_made_per_game = (r[11] + tw*t[11]) / total_num
    opnt_FG_attempt_per_game = (r[12] + tw*t[12]) / total_num
    turnover_per_game = (r[13] + tw*t[13]) / total_num
    opnt_turnover_per_game = (r[14] + tw*t[14]) / total_num
    assist_per_game = (r[15] + tw*t[15]) / total_num
    ofns_rebound_per_game = (r[16] + tw*t[16]) / total_num
    opnt_ofns_rebound_per_game = (r[17] + tw*t[17]) / total_num
    defn_rebound_per_game = (r[18] + tw*t[18]) / total_num
    opnt_defn_rebound_per_game = (r[19] + tw*t[19]) / total_num
    foul_per_game = (r[20] + tw*t[20]) / total_num
    opnt_foul_per_game = (r[21] + tw*t[21]) / total_num
    free_throw_made_per_game = (r[22] + tw*t[22]) / total_num
    free_throw_attempt_per_game = (r[23] + tw*t[23]) / total_num
    opnt_free_throw_made_per_game = (r[24] + tw*t[24]) / total_num
    opnt_free_throw_attempt_per_game = (r[25] + tw*t[25]) / total_num
    
    
    
#   % of turn over 
    pct_won_turn_over_rate = (100*turnover_per_game)/(num_FG_attempt_per_game+\
                                                   (0.44*free_throw_attempt_per_game)+ turnover_per_game)

  
    
#   % of effective field goal 
    pct_effective_FG = (num_FG_made_per_game + 0.5*num_3pt_made_per_game)/num_FG_attempt_per_game 
    
    
#   posessions 
    possession = 0.5*((num_FG_attempt_per_game+0.4*free_throw_attempt_per_game-1.07*\
                       (ofns_rebound_per_game/(ofns_rebound_per_game+opnt_defn_rebound_per_game))*\
                       (num_FG_attempt_per_game - num_FG_made_per_game)+turnover_per_game)+\
                      (opnt_FG_attempt_per_game+0.4*opnt_free_throw_attempt_per_game-1.07*\
                       (opnt_ofns_rebound_per_game/(opnt_ofns_rebound_per_game + defn_rebound_per_game))*\
                       (opnt_FG_attempt_per_game - num_FG_made_per_game)+opnt_turnover_per_game))
    
    return [len_gamesWon, len_gamesLose, score_per_game, score_allowed_per_game, num_3pt_made_per_game,\
            num_3pt_attempt_per_game, opnt_3pt_made_per_game, opnt_3pt_attempt_per_game,\
            num_FG_made_per_game, num_FG_attempt_per_game, opnt_FG_made_per_game, opnt_FG_attempt_per_game,\
            turnover_per_game, opnt_turnover_per_game, assist_per_game, \
            ofns_rebound_per_game, opnt_ofns_rebound_per_game ,defn_rebound_per_game, opnt_defn_rebound_per_game,\
            foul_per_game, opnt_foul_per_game, free_throw_made_per_game, free_throw_attempt_per_game,\
            opnt_free_throw_made_per_game, opnt_free_throw_attempt_per_game, pct_won_turn_over_rate,\
            pct_effective_FG, possession, seed]


combined_data(1182,2017)

[10,
 22,
 70.5,
 74.25,
 7.0625,
 21.15625,
 7.40625,
 20.65625,
 24.53125,
 57.34375,
 26.34375,
 60.1875,
 14.1875,
 12.46875,
 12.53125,
 10.71875,
 11.15625,
 25.75,
 26.1875,
 18.65625,
 19.1875,
 14.375,
 21.25,
 14.15625,
 20.03125,
 17.541148288385752,
 0.4893732970027248,
 69.48511999894157,
 20]

In [135]:
def diffvec(team1, team2, year):
    w = np.array(combined_data(team1, year))
    l = np.array(combined_data(team2, year))
    t = w-l
    
    return t

diffvec(1437, 1347, 2018)

array([  9.        ,  -9.        ,  19.89285714,   3.71428571,
         3.5       ,   5.75      ,  -0.17857143,   0.57142857,
         7.39285714,   5.67857143,   3.        ,   6.71428571,
        -1.85714286,   0.53571429,   4.42857143,  -1.60714286,
        -0.17857143,   2.96428571,   0.42857143,  -1.42857143,
         0.78571429,   1.60714286,   1.42857143,  -2.10714286,
        -2.39285714,  -3.24573954,   0.1030967 ,   6.85423173, -15.        ])

In [125]:
diffvec(1266, 1437, 2003)

array([ 12.        ,  -9.        ,   6.25454545,  -0.64545455,
        -0.54545455,  -3.70606061,  -0.47878788,   1.05757576,
         2.46969697,  -2.36969697,   1.33333333,   4.96363636,
        -2.76060606,  -4.66363636,   3.08484848,  -1.76060606,
         1.81212121,  -0.03333333,  -3.83939394,  -2.05151515,
        -0.66666667,   1.86060606,   0.73333333,  -2.83333333,
        -4.12727273,  -2.31322789,   0.05868019,  -3.29989348, -17.        ])

In [126]:
combined_data(1266, 2003)

[27,
 6,
 78.45454545454545,
 69.45454545454545,
 6.121212121212121,
 15.393939393939394,
 6.787878787878788,
 20.424242424242426,
 27.303030303030305,
 56.696969696969695,
 24.666666666666668,
 59.36363636363637,
 13.272727272727273,
 12.303030303030303,
 16.151515151515152,
 12.93939393939394,
 13.212121212121213,
 23.666666666666668,
 19.060606060606062,
 18.848484848484848,
 20.333333333333332,
 17.727272727272727,
 23.0,
 13.333333333333334,
 19.272727272727273,
 16.572327995883402,
 0.5355424906467131,
 66.76892848778928,
 3]

In [130]:
def create_train_data():
    x_train = []
    y_train = []
    
    raw_data_list = [reg_season_detailed_pd, tor_detailed_pd]
    print("reg_season_detailed_pd.shape", reg_season_detailed_pd.shape,"tor_detailed_pd.shape", tor_detailed_pd.shape)
    print("reg_season_detailed_pd", reg_season_detailed_pd[:10],"tor_detailed_pd.shape", tor_detailed_pd[:10])
    for raw_data in raw_data_list:
        for index, row in raw_data.iterrows():
            if index % 1000 == 0:
                print("running idx {}".format(index))
            win_diff = diffvec(row[2], row[4], row[0])
            x_train.append(win_diff)                      
            y_train.append(1)
            
            lose_diff = diffvec(row[4], row[2], row[0])
            x_train.append(lose_diff)                      
            y_train.append(0)
    
    x_train = np.array(x_train)
    y_train = np.array(y_train)
    print("x_train", x_train[:10], "shape", x_train.shape)   
    print("y_train", y_train[:10], "shape", y_train.shape)
    
    return x_train, y_train

In [141]:
from sklearn.linear_model import LogisticRegression

def run_model(x_train, y_train):
    logisticRegr = LogisticRegression()
    logisticRegr.fit(x_train, y_train)
    return logisticRegr

In [132]:
x_train, y_train = create_train_data()
np.save('data/x_train.npy', x_train)
np.savetxt('data/x_train.txt', x_train)
np.save('data/y_train.npy', y_train)
np.savetxt('data/y_train.txt', y_train)

reg_season_detailed_pd.shape (76636, 34) tor_detailed_pd.shape (981, 34)
reg_season_detailed_pd    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61
5    2003      11     1458      81     1186      55    H      0    26    57
6    2003      12     1161      80     1236      62    H      0    23    55
7    2003      12     1186      75     1457      61    N      0    28    62
8    2003      12     1194      71     1156      66    N      0    28    58
9    2003      12     1458      84     1296      56    H      0    32    67

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      10    16    22   10   22     8   18     9     2   20
1 ...      24     9    20   20   25     7   12     8     6   16
2 ...      26    14    23   31   22     9   12     2     5   23
3 ...      22     8    15   17   20     9   19     4     3   23
4 ...      16    17    27   21   15    12   10     7     1   14
5 ...      11    12    17    6   22     8   19     4     3   25
6 ...      15    20    28    9   21    11   30    10     4   28
7 ...      17    17    23    8   25    10   15    14     8   18
8 ...      18    12    27   13   26    13   25     8     2   18
9 ...      14     7    12    9   23    10   18     1     3   18

[10 rows x 34 columns] tor_detailed_pd.shape    Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64
5    2003     136     1163      58     1140      53    N      0    17    52
6    2003     136     1181      67     1161      57    N      0    19    54
7    2003     136     1211      74     1153      69    N      0    20    47
8    2003     136     1228      65     1443      60    N      0    24    56
9    2003     136     1242      64     1429      61    N      0    28    51

  ...   LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0 ...      31    14    31   17   28    16   15     5     0   22
1 ...      16     7     7    8   26    12   17    10     3   15
2 ...      28    14    21   20   22    11   12     2     5   18
3 ...      17    12    17   14   17    20   21     6     6   21
4 ...      21    15    20   10   26    16   14     5     8   19
5 ...      17    11    13   15   26    11   11     8     4   22
6 ...      11    18    22   11   24     8   19     5     4   19
7 ...      27     7    10   13   22    13   10     7     6   24
8 ...      24     8    13   17   18    10   14     6     5   16
9 ...      17     9    10   13   19    13   13     6     1   15

[10 rows x 34 columns]
running idx 0
running idx 1000
running idx 2000
running idx 3000
running idx 4000
running idx 5000
running idx 6000
running idx 7000
running idx 8000
running idx 9000
running idx 10000
running idx 11000
running idx 12000
running idx 13000
running idx 14000
running idx 15000
running idx 16000
running idx 17000
running idx 18000
running idx 19000
running idx 20000
running idx 21000
running idx 22000
running idx 23000
running idx 24000
running idx 25000
running idx 26000
running idx 27000
running idx 28000
running idx 29000
running idx 30000
running idx 31000
running idx 32000
running idx 33000
running idx 34000
running idx 35000
running idx 36000
running idx 37000
running idx 38000
running idx 39000
running idx 40000
running idx 41000
running idx 42000
running idx 43000
running idx 44000
running idx 45000
running idx 46000
running idx 47000
running idx 48000
running idx 49000
running idx 50000
running idx 51000
running idx 52000
running idx 53000
running idx 54000
running idx 55000
running idx 56000
running idx 57000
running idx 58000
running idx 59000
running idx 60000
running idx 61000
running idx 62000
running idx 63000
running idx 64000
running idx 65000
running idx 66000
running idx 67000
running idx 68000
running idx 69000
running idx 70000
running idx 71000
running idx 72000
running idx 73000
running idx 74000
running idx 75000
running idx 76000
running idx 0
x_train [[ -1.00000000e+01   5.00000000e+00  -1.31845842e+00   5.03955375e+00
   -1.04259635e+00   8.21501014e-01   1.96754564e+00   5.33874239e+00
   -1.12271805e+00   7.64705882e-01   1.33874239e+00   2.45233266e+00
    9.85801217e-01  -3.15415822e-01  -2.03853955e+00   1.03144016e+00
    8.47870183e-01  -6.18661258e-01   4.44219067e-01  -6.79513185e-02
    1.43711968e+00   1.96957404e+00   2.25862069e+00   3.94523327e-01
   -6.39959432e-01   6.95458667e-01  -3.57047033e-02   7.22405053e-01
    9.00000000e+00]
 [  1.00000000e+01  -5.00000000e+00   1.31845842e+00  -5.03955375e+00
    1.04259635e+00  -8.21501014e-01  -1.96754564e+00  -5.33874239e+00
    1.12271805e+00  -7.64705882e-01  -1.33874239e+00  -2.45233266e+00
   -9.85801217e-01   3.15415822e-01   2.03853955e+00  -1.03144016e+00
   -8.47870183e-01   6.18661258e-01  -4.44219067e-01   6.79513185e-02
   -1.43711968e+00  -1.96957404e+00  -2.25862069e+00  -3.94523327e-01
    6.39959432e-01  -6.95458667e-01   3.57047033e-02  -7.22405053e-01
   -9.00000000e+00]
 [ -7.00000000e+00   2.00000000e+00  -5.17142857e+00  -3.13809524e+00
    1.68571429e+00   4.90476190e+00  -9.28571429e-01  -4.29047619e+00
   -2.90952381e+00  -1.01428571e+00  -1.55238095e+00  -6.47142857e+00
   -3.80952381e-01   9.52380952e-03   1.49047619e+00   6.09523810e-01
   -3.56190476e+00  -1.10952381e+00   1.70000000e+00   1.87619048e+00
    4.14285714e-01  -1.03809524e+00  -1.95238095e-01   8.95238095e-01
    1.48095238e+00  -1.62489278e-01  -2.55492240e-02  -2.40740185e+00
    4.00000000e+00]
 [  7.00000000e+00  -2.00000000e+00   5.17142857e+00   3.13809524e+00
   -1.68571429e+00  -4.90476190e+00   9.28571429e-01   4.29047619e+00
    2.90952381e+00   1.01428571e+00   1.55238095e+00   6.47142857e+00
    3.80952381e-01  -9.52380952e-03  -1.49047619e+00  -6.09523810e-01
    3.56190476e+00   1.10952381e+00  -1.70000000e+00  -1.87619048e+00
   -4.14285714e-01   1.03809524e+00   1.95238095e-01  -8.95238095e-01
   -1.48095238e+00   1.62489278e-01   2.55492240e-02   2.40740185e+00
   -4.00000000e+00]
 [  1.20000000e+01  -9.00000000e+00   6.25454545e+00  -6.45454545e-01
   -5.45454545e-01  -3.70606061e+00  -4.78787879e-01   1.05757576e+00
    2.46969697e+00  -2.36969697e+00   1.33333333e+00   4.96363636e+00
   -2.76060606e+00  -4.66363636e+00   3.08484848e+00  -1.76060606e+00
    1.81212121e+00  -3.33333333e-02  -3.83939394e+00  -2.05151515e+00
   -6.66666667e-01   1.86060606e+00   7.33333333e-01  -2.83333333e+00
   -4.12727273e+00  -2.31322789e+00   5.86801882e-02  -3.29989348e+00
   -1.70000000e+01]
 [ -1.20000000e+01   9.00000000e+00  -6.25454545e+00   6.45454545e-01
    5.45454545e-01   3.70606061e+00   4.78787879e-01  -1.05757576e+00
   -2.46969697e+00   2.36969697e+00  -1.33333333e+00  -4.96363636e+00
    2.76060606e+00   4.66363636e+00  -3.08484848e+00   1.76060606e+00
   -1.81212121e+00   3.33333333e-02   3.83939394e+00   2.05151515e+00
    6.66666667e-01  -1.86060606e+00  -7.33333333e-01   2.83333333e+00
    4.12727273e+00   2.31322789e+00  -5.86801882e-02   3.29989348e+00
    1.70000000e+01]
 [ -1.00000000e+00   4.00000000e+00   1.84331797e-01   3.41359447e+00
   -7.81105991e-01  -3.68778802e+00   3.81336406e-01   2.38940092e+00
    3.34101382e-02  -3.22119816e+00   6.58986175e-01  -1.86981567e+00
    2.35714286e+00  -1.19124424e+00   7.02764977e-02   9.64285714e-01
   -1.02073733e+00  -1.31912442e+00  -3.72465438e+00   1.63594470e-01
    4.66589862e-01   8.98617512e-01   8.15668203e-01   1.71428571e+00
    1.35599078e+00   3.06466554e+00   2.33132242e-02  -1.37134776e+00
    0.00000000e+00]
 [  1.00000000e+00  -4.00000000e+00  -1.84331797e-01  -3.41359447e+00
    7.81105991e-01   3.68778802e+00  -3.81336406e-01  -2.38940092e+00
   -3.34101382e-02   3.22119816e+00  -6.58986175e-01   1.86981567e+00
   -2.35714286e+00   1.19124424e+00  -7.02764977e-02  -9.64285714e-01
    1.02073733e+00   1.31912442e+00   3.72465438e+00  -1.63594470e-01
   -4.66589862e-01  -8.98617512e-01  -8.15668203e-01  -1.71428571e+00
   -1.35599078e+00  -3.06466554e+00  -2.33132242e-02   1.37134776e+00
    0.00000000e+00]
 [  7.00000000e+00  -1.00000000e+00   1.48148148e-01  -3.48821549e+00
   -7.64309764e-01  -9.62962963e-01  -7.17171717e-01  -2.67340067e+00
   -7.60942761e-01   8.28282828e-01  -1.82154882e+00  -1.51515152e+00
    1.50505051e+00   4.04040404e-01  -3.44107744e+00   3.27609428e+00
   -1.07744108e-01   1.31649832e+00  -1.46801347e+00   3.29966330e+00
    1.80808081e+00   2.43434343e+00   3.15824916e+00   8.72053872e-01
    2.35016835e+00   1.14064547e+00  -2.52552985e-02   5.11701978e-01
   -1.90000000e+01]
 [ -7.00000000e+00   1.00000000e+00  -1.48148148e-01   3.48821549e+00
    7.64309764e-01   9.62962963e-01   7.17171717e-01   2.67340067e+00
    7.60942761e-01  -8.28282828e-01   1.82154882e+00   1.51515152e+00
   -1.50505051e+00  -4.04040404e-01   3.44107744e+00  -3.27609428e+00
    1.07744108e-01  -1.31649832e+00   1.46801347e+00  -3.29966330e+00
   -1.80808081e+00  -2.43434343e+00  -3.15824916e+00  -8.72053872e-01
   -2.35016835e+00  -1.14064547e+00   2.52552985e-02  -5.11701978e-01
    1.90000000e+01]] shape (155234, 29)
y_train [1 0 1 0 1 0 1 0 1 0] shape (155234,)

In [137]:
def create_test_data():
    season18_pd = pd.read_csv('data/SampleSubmissionStage2.csv')
    season18_pd.head()

    x_test = []
    
    for index, row in season18_pd.iterrows():
        if index % 100 == 0:
            print("running idx {}".format(index))
        feature_diff = diffvec(row[2], row[3], row[1])
        x_test.append(feature_diff)                      

    x_test = np.array(x_test)
    #print("x_test", x_test[:10], "shape", x_test.shape)   
    
    return x_test

In [142]:
#x_train = np.load('data/x_train.npy')
#y_train = np.load('data/y_train.npy')
#np.savetxt('data/x_train.txt', x_train)
#np.save('data/y_train.npy', y_train)
#np.savetxt('data/y_train.txt', y_train)
model = run_model(x_train, y_train)

In [140]:
x_test = create_test_data()
np.save('data/x_test.npy', x_test)
np.savetxt('data/x_test.txt', x_test)
print(x_test[0])

running idx 0
running idx 100
running idx 200
running idx 300
running idx 400
running idx 500
running idx 600
running idx 700
running idx 800
running idx 900
running idx 1000
running idx 1100
running idx 1200
running idx 1300
running idx 1400
running idx 1500
running idx 1600
running idx 1700
running idx 1800
running idx 1900
running idx 2000
running idx 2100
running idx 2200
[-5.          5.         -8.07142857 -2.25       -0.82142857  0.96428571
 -0.42857143  1.71428571 -3.28571429 -2.         -1.14285714  1.07142857
  1.92857143  1.         -2.85714286 -0.39285714  2.28571429 -0.17857143
  3.75        0.89285714 -0.03571429 -0.67857143  1.71428571  0.46428571
  2.10714286  2.30851191 -0.04631478  0.83163451  5.        ]

AttributeError: 'tuple' object has no attribute 'predict'

In [155]:
pred = model.predict(x_test)
pred_prob = model.predict_proba(x_test)

In [165]:
season18_pd = pd.read_csv('data/SampleSubmissionStage2.csv')
season18_pd.head()

               ID  Season  Team1  Team2  Pred
0  2018_1104_1112    2018   1104   1112   NaN
1  2018_1104_1113    2018   1104   1113   NaN
2  2018_1104_1116    2018   1104   1116   NaN
3  2018_1104_1120    2018   1104   1120   NaN
4  2018_1104_1137    2018   1104   1137   NaN

In [166]:
print(x_test[:20])
print(pred[:20])
print(pred_prob[:, 1])
season18_pd['pred'] = pred_prob[:, 1]
season18_pd.to_csv('data/SampleSubmissionStage2_pred.csv')

[[ -5.00000000e+00   5.00000000e+00  -8.07142857e+00  -2.25000000e+00
   -8.21428571e-01   9.64285714e-01  -4.28571429e-01   1.71428571e+00
   -3.28571429e+00  -2.00000000e+00  -1.14285714e+00   1.07142857e+00
    1.92857143e+00   1.00000000e+00  -2.85714286e+00  -3.92857143e-01
    2.28571429e+00  -1.78571429e-01   3.75000000e+00   8.92857143e-01
   -3.57142857e-02  -6.78571429e-01   1.71428571e+00   4.64285714e-01
    2.10714286e+00   2.30851191e+00  -4.63147839e-02   8.31634508e-01
    5.00000000e+00]
 [ -2.00000000e+00   3.00000000e+00  -1.04206349e+01  -5.49603175e+00
   -2.56878307e+00  -5.08862434e+00  -1.58730159e+00  -3.06613757e+00
   -2.25264550e+00  -5.44708995e+00  -2.29894180e+00  -1.70767196e+00
    3.22486772e+00  -1.65873016e+00  -1.55026455e+00  -1.98412698e-01
    2.34126984e-01   6.98412698e-01  -1.05820106e+00   3.70370370e-01
   -1.99074074e+00  -3.34656085e+00  -2.47222222e+00   6.89153439e-01
    2.14417989e+00   4.62631605e+00  -1.10488532e-02  -2.54232323e+00
   -1.10000000e+01]
 [ -2.00000000e+00   2.00000000e+00  -9.07142857e+00  -6.17857143e+00
   -1.67857143e+00  -8.92857143e-01  -1.35714286e+00  -1.96428571e+00
   -3.92857143e+00  -6.82142857e+00  -1.03571429e+00   5.71428571e-01
    3.17857143e+00  -1.00000000e+00  -2.03571429e+00  -3.92857143e-01
   -3.57142857e-02   1.53571429e+00  -8.57142857e-01  -1.35714286e+00
    5.00000000e-01   4.64285714e-01   4.28571429e-01  -2.75000000e+00
   -2.89285714e+00   4.59292527e+00  -1.89968439e-02  -2.54089569e+00
    2.00000000e+00]
 [ -7.00000000e+00   7.00000000e+00  -1.15714286e+01  -3.17857143e+00
   -3.57142857e+00  -6.92857143e+00  -9.28571429e-01  -9.64285714e-01
   -2.00000000e+00  -7.00000000e+00  -2.14285714e-01   1.32142857e+00
    1.82142857e+00  -2.53571429e+00  -2.00000000e+00  -2.71428571e+00
    8.92857143e-01   8.57142857e-01   2.50000000e-01  -6.78571429e-01
   -1.10714286e+00  -4.00000000e+00  -2.03571429e+00  -1.82142857e+00
   -8.21428571e-01   3.39928410e+00  -1.60448001e-03  -2.61194241e+00
    5.00000000e+00]
 [ -4.00000000e+00   2.00000000e+00  -7.40952381e+00  -4.77380952e+00
   -1.47619048e+00  -3.70714286e+00   2.90476190e-01   2.18571429e+00
   -1.81190476e+00  -4.19523810e+00  -2.09523810e+00  -2.12619048e+00
    1.32857143e+00   3.52380952e-01  -1.30952381e+00   2.23809524e-01
    9.45238095e-01  -1.09047619e+00  -1.79523810e+00   1.00000000e-01
   -1.35000000e+00  -2.30952381e+00  -1.75000000e+00  -8.73809524e-01
   -5.92857143e-01   2.38324763e+00  -5.75086188e-03  -3.24188202e+00
   -5.00000000e+00]
 [ -2.00000000e+00   3.00000000e+00  -1.04947090e+01  -8.53306878e+00
   -3.45767196e+00  -7.12566138e+00   7.93650794e-02   1.85978836e+00
   -4.51190476e+00  -9.55820106e+00  -2.33597884e+00  -1.30026455e+00
    9.65608466e-01  -3.25396825e-01  -3.80952381e+00  -1.42063492e+00
    1.16005291e+00   5.87301587e-01  -1.46560847e+00  -2.66666667e+00
    8.98148148e-01   1.98677249e+00   3.30555556e+00  -3.94047619e+00
   -3.52248677e+00   2.58158008e+00  -1.86833606e-02  -4.88097815e+00
   -4.00000000e+00]
 [ -2.00000000e+00   1.00000000e+00  -6.98768473e+00  -2.64162562e+00
   -1.88423645e+00  -3.12438424e+00  -9.70443350e-01   5.78817734e-01
   -3.83374384e+00  -6.82512315e+00  -9.28571429e-01   3.10714286e+00
    2.99753695e+00  -1.11083744e+00  -1.55665025e+00   9.08866995e-01
    2.91995074e+00   1.48768473e+00  -2.90640394e-01   6.20689655e-01
    2.54310345e+00   2.56403941e+00   6.26724138e+00   1.85960591e-01
    1.58990148e+00   3.97872861e+00  -1.90936056e-02  -1.15149472e+00
   -1.00000000e+00]
 [ -7.00000000e+00   7.00000000e+00  -2.46428571e+00   1.25000000e+01
   -1.10714286e+00  -1.46428571e+00   6.07142857e-01   1.39285714e+00
   -6.78571429e-01  -3.35714286e+00   3.96428571e+00   4.42857143e+00
    2.53571429e+00  -1.96428571e+00  -3.35714286e+00  -3.17857143e+00
    1.67857143e+00   8.57142857e-01   2.85714286e+00   2.82142857e+00
    5.71428571e-01   0.00000000e+00   5.00000000e-01   3.96428571e+00
    5.57142857e+00   3.31829161e+00   9.16830776e-03   2.89877825e+00
    7.00000000e+00]
 [ -3.00000000e+00   4.00000000e+00  -4.94708995e-01   3.65211640e+00
   -2.12433862e+00  -3.34788360e+00  -5.87301587e-01   6.37566138e-01
   -6.74603175e-02  -1.44708995e+00   2.19576720e-01   1.25529101e+00
    1.74338624e+00   5.26455026e-01  -6.61375661e-01   6.53439153e-01
    1.97486772e+00  -4.49735450e-01  -2.11640212e-02   3.22222222e+00
    2.60185185e+00   1.76455026e+00   4.52777778e+00   3.80026455e+00
    5.95899471e+00   1.74650727e+00  -6.50420808e-03   2.08155617e+00
    4.00000000e+00]
 [ -4.00000000e+00   5.00000000e+00  -5.31746032e-01   1.20767196e+00
   -9.76190476e-01  -1.05158730e+00   7.93650794e-02   1.78571429e+00
    4.88095238e-01  -3.35978836e-01  -2.64550265e-03   2.95899471e+00
    4.29894180e+00   1.23015873e+00   1.96825397e+00   1.28306878e+00
    1.38227513e+00   2.03174603e+00   8.99470899e-02   2.25925926e+00
    1.45370370e+00  -5.31746032e-01   2.00925926e+00   1.13359788e+00
    3.44047619e+00   4.64445287e+00   3.19312373e-03   4.19371863e+00
   -1.10000000e+01]
 [ -1.00000000e+00   2.00000000e+00  -1.11984127e+01  -5.86640212e+00
   -4.01322751e+00  -8.05158730e+00  -9.20634921e-01  -1.62169312e+00
   -4.88227513e+00  -6.29894180e+00  -4.18783069e+00  -4.78174603e+00
    2.44708995e+00   1.71164021e+00  -5.10582011e+00   2.06084656e+00
    1.71560847e+00  -1.85714286e+00  -1.61375661e+00   4.00000000e+00
    3.00925926e+00   2.57936508e+00   5.93518519e+00   3.42989418e+00
    6.14417989e+00   3.32179557e+00  -5.82029467e-02  -2.79064302e+00
    1.00000000e+00]
 [  4.00000000e+00   1.00000000e+00   1.09627329e+00  -3.73757764e+00
    8.35403727e-01   4.04503106e+00  -2.73291925e-01   2.17701863e+00
    1.56055901e+00   3.15838509e+00  -1.10248447e+00   9.76708075e-01
   -9.84472050e-01  -2.14285714e-01   8.57142857e-01   1.61801242e+00
    1.24378882e+00   1.57763975e+00   1.09316770e+00   5.21739130e-01
   -8.58695652e-01  -2.86024845e+00  -2.29347826e+00  -1.25931677e+00
    5.85403727e-01  -1.52843054e+00   6.06958267e-03   2.57934539e-01
   -6.00000000e+00]
 [  1.00000000e+00   1.00000000e+00  -2.83516484e+00   2.58516484e+00
   -4.29670330e+00  -8.14560440e+00  -1.21978022e+00  -1.17582418e+00
   -1.94780220e+00  -2.00549451e+00  -4.39560440e-02   4.29945055e+00
    4.54395604e+00   2.32417582e+00  -4.29670330e+00   2.20329670e+00
    3.48626374e+00   8.35164835e-01   3.40659341e-01   4.00000000e+00
    4.48076923e+00   5.35714286e+00   9.90384615e+00   3.89285714e+00
    5.68406593e+00   4.61526061e+00  -5.32629064e-02   4.85680998e+00
   -3.00000000e+00]
 [ -6.00000000e+00   6.00000000e+00  -1.38214286e+01  -1.35714286e+00
   -2.25000000e+00  -2.53571429e+00  -9.64285714e-01  -1.57142857e+00
   -5.53571429e+00  -7.64285714e+00  -1.92857143e+00  -5.50000000e+00
    1.89285714e+00   1.28571429e+00  -4.96428571e+00  -3.96428571e+00
    2.14285714e-01  -2.03571429e+00   3.00000000e+00   2.89285714e+00
    7.50000000e-01  -5.00000000e-01   3.57142857e-01   3.46428571e+00
    6.42857143e+00   3.40273939e+00  -4.20330222e-02  -1.72728900e+00
    7.00000000e+00]
 [  0.00000000e+00   0.00000000e+00  -2.96428571e+00  -5.00000000e-01
   -2.53571429e+00  -4.53571429e+00  -1.07142857e-01   2.39285714e+00
   -4.28571429e-01  -5.82142857e+00  -6.42857143e-01   1.92857143e+00
    4.46428571e+00  -7.14285714e-01  -3.57142857e-02  -1.07142857e+00
    1.57142857e+00   1.96428571e+00  -2.10714286e+00   1.92857143e+00
    1.71428571e+00   4.28571429e-01   2.39285714e+00   8.92857143e-01
    3.14285714e+00   5.69623468e+00   2.24832738e-02   1.26895206e+00
    3.00000000e+00]
 [ -2.00000000e+00   3.00000000e+00  -9.64285714e+00  -4.05158730e+00
   -1.93915344e+00  -3.68121693e+00  -1.21693122e+00  -1.58465608e+00
   -3.84523810e+00  -7.29894180e+00  -1.66931217e+00  -2.81878307e+00
    1.15079365e+00  -1.21428571e+00  -2.73544974e+00  -2.49470899e+00
    1.60052910e-01   4.02116402e-01   3.86243386e-01   8.51851852e-01
    7.87037037e-01  -1.32275132e-02   4.16666667e-01   5.03968254e-01
    1.95899471e+00   2.59173639e+00  -1.55726745e-02  -3.25127882e+00
    0.00000000e+00]
 [ -1.00000000e+00   3.00000000e+00  -4.89010989e-01   2.39285714e+00
   -2.64285714e+00  -4.06868132e+00  -1.95054945e+00  -3.48351648e+00
   -4.86263736e-01  -2.19780220e+00   1.91758242e+00   3.26098901e+00
    2.73626374e+00  -1.44505495e+00   4.94505495e-02   8.95604396e-01
   -6.67582418e-01   2.14285714e+00  -8.90109890e-01   1.03846154e+00
    3.17307692e+00   3.12637363e+00   4.78846154e+00   5.08241758e-01
    7.60989011e-01   2.97246607e+00  -1.13560838e-02   2.00903601e+00
   -6.00000000e+00]
 [ -9.00000000e+00   7.00000000e+00  -1.16095238e+01   1.59285714e+00
   -2.54285714e+00  -5.04047619e+00  -6.09523810e-01   8.85714286e-01
   -5.07857143e+00  -6.86190476e+00   2.38095238e-01   8.40476190e-01
    2.76190476e+00   5.52380952e-01  -2.90952381e+00  -1.70952381e+00
    2.81190476e+00  -9.90476190e-01   1.97142857e+00   1.70000000e+00
    1.25000000e+00   1.09047619e+00   3.08333333e+00   1.72619048e+00
    3.47380952e+00   3.96989742e+00  -4.41861813e-02  -7.23622748e-01
    5.00000000e+00]
 [ -4.00000000e+00   5.00000000e+00  -3.67989418e+00   3.80026455e+00
   -2.19841270e+00  -2.90343915e+00  -3.17460317e-02   8.96825397e-01
   -1.66005291e+00  -4.52116402e+00   2.66402116e+00   4.88492063e+00
    1.81746032e+00  -3.62433862e-01  -2.06878307e+00  -2.19841270e+00
    1.71560847e+00  -4.12698413e-01   2.57142857e+00  -1.92592593e+00
    1.23148148e+00   1.83862434e+00   3.89814815e+00  -1.49603175e+00
   -1.33730159e+00   2.48970233e+00  -6.35086845e-03   1.57692520e+00
    3.00000000e+00]
 [  1.00000000e+00  -1.00000000e+00  -6.14285714e+00  -6.85714286e+00
   -3.42857143e+00  -6.17857143e+00  -8.92857143e-01  -7.14285714e-02
   -2.85714286e+00  -7.07142857e+00  -4.25000000e+00  -2.75000000e+00
    2.42857143e+00   0.00000000e+00  -3.60714286e+00   7.85714286e-01
    1.07142857e-01   1.28571429e+00  -2.67857143e+00   1.92857143e+00
    3.35714286e+00   3.00000000e+00   5.89285714e+00   2.53571429e+00
    3.60714286e+00   3.44184961e+00  -1.36410394e-02  -1.76204279e+00
   -6.00000000e+00]]
[0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1]
[ 0.24991175  0.37086965  0.35098465 ...,  0.75535495  0.39704326
  0.17578343]